@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
   // Layout = "_Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año de Creación: @Model.AñoDeCreación</strong></p>

<p><i>@ViewBag.CosaDinamica ViewBag</i></p>
<p><i>@ViewData["CosaDinamica"] ViewData</i></p>