@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
}

<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año Fundación: @Model.AñoFundación</strong></p>

<p><i>@ViewBag.CosaDinamica ViewBag</i></p>
<p><i>@ViewData["CosaDinamica"] ViewData</i></p>